body {
  background-color: lightgrey;
  background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/7/71/Scarface_-_1983_film.jpg/220px-Scarface_-_1983_film.jpg);
  background-repeat: no-repeat;
  background-position: right top;
      }

#firstname{color:lightgrey;}
a:hover{
  background-color: yellow;
  color: red;
}
